.form {
  display: flex;
  position: relative;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: #fff;
  }
}

.editWrap {
  flex: 1;
  max-width: 100%;
  margin: 0 -14px;
}

.viewModeWrap {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  appearance: none;
  border: none;
  padding: 0;
  background: transparent;
  font: inherit;
  color: inherit;

  .editIcon {
    margin-left: 8px;
    opacity: 0.7;
    transition: 0.2s;
    transform: scale(0.999);
    display: none;
  }

  &:hover .editIcon {
    display: flex;
    animation: scale 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.formButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 9;
  background: #fff;
  border-radius: 99px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
  padding: 4px;

  button {
    appearance: none;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 99px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 4px;
    transition: 0.2s;
    transform: scale(0.999);
    animation: scale 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
      transform: scale(0.888);
    }
  }
}

.saveButton {
  background-color: #10b981;
}
.cancelButton {
  background-color: #ef4444;
}

@keyframes scale {
  from {
    transform: scale(0.666);
  }
  to {
    transform: scale(0.999);
  }
}
